#userStyle:hover {
    background-color: var(--primary-color);
}

#navBarButton {
    background-color: var(--second-color);
    font-weight: bold;
    margin-left: 5px;
    color: white;
}

#navBarButton:hover {
    color: var(--second-color);
    background-color: white;
}

#navbar {
    background-color: var(--primary-color);
    box-sizing: border-box;
    max-width: 2100px;
    width: 100%;
    margin: 0 auto;
}

#search {
    width: 20vw;
    height: 4vh;
}

#navBarOptions {
    background-color: var(--second-color);
    padding: 0.5%;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0 1%;
}

#navBarUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

#options {
    display: flex;
    justify-content: space-around;
    outline: none;
    flex-direction: column;
}

.btnOp {
    text-decoration: none;
    color: white;
}

#navBarLinks {
    display: flex;
    height: auto;
    max-width: 100%;
}

@media (max-width: 1200px) {
    #search {
        width: 40vw;
        height: 5vh;
    }

    #navBarOptions {
        width: 15%;
    }
}

@media (max-width: 992px) {
    #navbar {
        width: 85%;
    }

    #search {
        width: 50vw;
        height: 6vh;
    }

    #navBarOptions {
        width: 20%;
    }

    #options {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    #navbar {
        width: 95%;
        margin-top: 0.1rem;
    }

    #search {
        width: 60vw;
        height: 7vh;
    }

    #navBarOptions {
        width: 30%;
        font-size: 0.8rem;
    }

    #options {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #navBarLinks {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    #search {
        width: 70vw;
        height: 8vh;
    }

    #navBarOptions {
        width: 40%;
        font-size: 0.7rem;
    }

    #options {
        flex-direction: column;
        align-items: center;
    }

    #navBarLinks {
        flex-direction: column;
        align-items: center;
    }
}
