.Card {
    box-sizing: border-box;
    max-width: 100%;
    width: 10rem;
    height: 16rem;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fbd38e;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 0.25px solid #fbd38e;
    transition: background-color 0.3s, transform 0.3s;
}

.card_txt {
    margin: 5px;
    padding: 0;
    font-size: 0.75rem;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    border: 1px solid #ED8936;
}

.buyButton {
    background-color: #ED8936;
    border: none;
    padding: 5px 8px;
    font-size: 0.7rem;
    transition: background-color 0.3s, transform 0.3s;
}

.buyButton:hover {
    transform: scale(1.2);
    background-color: #b1672a;
}

.buttonGroup {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 5px;
}

.btn {
    font-size: 0.75rem;
    padding: 5px 10px;
}

.cartButton {
    background-color: #2C5282;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.cartButton:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .Card {
        width: 100%;
        height: auto;
    }

    .card-img-top {
        max-height: 70px;
    }

    .card-body {
        padding: 0.3rem;
    }

    .buttonGroup {
        flex-direction: column;
        gap: 0.3rem;
    }

    .btn, .cartButton {
        width: 100%;
        font-size: 0.7rem;
        padding: 5px;
    }
}
